<html lang="ja">
<!-- ヘッド部分 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>旅のしおりアプリ１</title>
    {% block head %}{% endblock %}
</head>

<!-- ボディ部分 -->
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:salmon">
    <a class="navbar-brand" href="/" style="font-size: 2rem; font-weight: 500; margin-left: 3%;">
      旅のしおりアプリ
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/move">ジャンル：１(移動)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/food">ジャンル：２(食事)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sightseeing">ジャンル：３(観光)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hotel">ジャンル：４(宿泊処)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/el">ジャンル：５(その他)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/explanation">このアプリの使い方</a>
        </li>
      </ul>
    </div>
  </nav>
    {% block body %}{% endblock %}
</body>

</html>