{% extends 'base.html' %}

{% block body %}
<!-- 見出し的な -->
<div class="page-header text-center" style="padding: 5%;">
  <h1>旅のしおりアプリを使いこなそう</h1>
  <small>｛取扱説明書｝</small>
</div>

<!-- アプリの見方 -->
<h3 class="text-center text-success" style="padding: 3%;">旅のしおりアプリの見方</h3>
<div class="container text-center">
  <h5>①左上のナビゲーションバーにある「旅のしおりアプリ」</h5>
  <p>この「旅のしおりアプリ」をクリックすると予定一覧画面に戻れます</p>
  <h5>②「さあ、新しい予定を追加しよう」</h5>
  <p>この「さあ、新しい予定を追加しよう」ボタンをクリックすると<br>
    予定の新規追加画面に移動できます</p>
  <h5>③「詳細」</h5>
  <p>「詳細」ボタンを押すと予定内容を詳しく見ることができます。<br>
    具体的には予定追加時に入力した詳細内容を見ることができます。</p>
  <h5>④「編集」</h5>
  <p>「編集」ボタンを押すと、予定内容や期限、タイトルなどの<br>
    情報を変更することが可能です</p>
  <h5>⑤「削除」</h5>
  <p>「削除」ボタンで予定を削除できます。<br>
    予定が完了したときに使いましょう。</p>
</div>

<!-- 追加方法 -->
{% endblock %}